<!-- 侧边栏开始 -->
<div id="sidebar">
  <ul>
      <li class="menu-item">
          <a href="/backend/"><span class="icon-system"></span>系统说明</a>
      </li>
      <li>
          <div class="menu-item">
              <a href="#">
                  <span class="icon-author"></span>
                  作者管理
                  <span class="icon-down"></span>
              </a>
          </div>
          <ol>
              <li><a href="/backend/author/create/">添加作者</a></li>
              <li><a href="/backend/author/">作者列表</a></li>
          </ol>
      </li>
      <li>
          <div class="menu-item">
              <a href="#">
                  <span class="icon-category"></span>
                  分类管理
                  <span class="icon-down"></span>
              </a>
          </div>
          <ol>
              <li><a href="/backend/category/create/">添加分类</a></li>
              <li><a href="/backend/category/">分类列表</a></li>
          </ol>
      </li>
      <li>
          <div class="menu-item">
              <a href="#">
                  <span class="icon-article"></span>
                  文章管理
                  <span class="icon-down"></span>
              </a>
          </div>
          <ol>
              <li><a href="/backend/article/create/">发布文章</a></li>
              <li><a href="/backend/article/">文章列表</a></li>
              <li><a href="/backend/article/recycle/">回收站</a></li>
          </ol>
      </li>
      <li>
          <div class="menu-item">
              <a href="#">
                  <span class="icon-article"></span>
                  数据报表
                  <span class="icon-down"></span>
              </a>
          </div>
          <ol>
              <li><a href="/backend/chars/">查看数据报表</a></li>            
          </ol>
      </li>
  </ul>
</div>
<!-- 侧边栏结束 -->