nav{
    background-color: rgba(33, 37, 41);
}

nav .container{
    width: 1200px;
    display: flex;
    align-items:top;
    margin: 0 auto;
    position: relative;
}

nav .container{
    height: 80px;
    
}

.logo {
    margin-right: 15px;
}

.logo a{
    width: 120px;
    margin-top:10px;
    display: block;
    height: 60px;
    background: url(../images/logo.png) no-repeat center center;
    background-size: contain;
}

.nav-menu{
    margin-right:15px;
}
.nav-menu li{
    float: left;
    margin:0 5px;
}

.nav-menu li a{
    display: block;
    color:#fff;
    line-height: 80px;
    padding:0 10px;
    
}
.nav-menu li a:hover{
    color: #fff;
    background-color:#f60;
}
.nav-menu li a.active{
    color:#fff;
    background-color: rgb(0,102,255);
}


.shortcut{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 80px;
}
.shortcut .a{
    display: inline-block;
    line-height: 24px;
    padding:5px 25px;
    background-color: rgb(255, 209, 0);
    border-radius: 3px;
}
.shortcut .face{
    position: absolute;
    top: 12px;
    right:80px;
}
.shortcut .face img{
    width:34px;
    height: 34px;
    border-radius: 100%;
    background-color: #fff;
    border:1px solid #ccc
}
.shortcut  .logout{
    color:#fff;
}

main{
    margin:0px 20px 0 20px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding:0 20px 20px 20px;
    position: relative;
    box-sizing: border-box;
}

main h1 {
    font-size: 28px;
    line-height: 40px;
    padding: 20px 0;
}

/*  */

#comment-list {
    position: relative;
    margin: 10px;
    background-color: #fff;
    font-size: 12px;
}

.comment-item {
    padding: 12px 0 10px 0;
    line-height: 20px;
}

.c-avatar .avatar {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 2px;
    transition: all 300ms ease-in-out;
}



.c-main {
    padding: 10px 15px;
    line-height: 25px;
    margin-top: -2px;
    margin-left: 72px;
    border-radius: 3px;
    position: relative;
    background: #fbfdfb;
    border: 1px #eee solid;
    font-size: 15px;
}

.c-main:before, .d_comment div.muted:before {
    content: '';
    display: inline-block;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #eee;
    position: absolute;
    top: 15px;
    left: -9px;
}

.c-meta {
    color: #bbb;
    font-size: 14px;
}

.c-author {
    margin-right: 10px;
}        
footer {
    background: #1E1E1E;
    color: rgba(255,255,255,.5);
}
    
footer .wrap{
    width:1200px;
    line-height: 36px;
    margin: 0 auto;
    padding:100px 0;
    text-align: center;
}

main{
    width:1200px;
    margin:20px auto;
    background:#fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    border-radius: 5px;
}

.comment-form{       
    position: relative;
    padding: 15px 30px 0 15px;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-top: 3px solid #323953;
    border-bottom: 3px solid #323953;
    margin-bottom: 10px;
}
.comment-form .hd {
    margin-bottom: 20px;
}
.comment-form .wrap-title {
    line-height: 21px;
    float:left;
    color: #323953;
    background-image: url(../images/comment_icon-378c5e.png);
    background-repeat: no-repeat;
    padding-left: 36px;
    font-size:14px;
}
.comment-form .count {
    float: right;
    line-height: 28px;
    font-size: 14px;
}
.comment-form .count em{
    font-style: normal;
    padding:0 2px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
    color:#EE231B;
}
.comment-form .bd {
    position: relative;
    margin-left: 100px;
    margin-bottom: 20px;
}
.comment-form .user-head{
    position: absolute;
    top: 0;
    width: 100px;
    margin-left: -100px;
}
.comment-form .user-head img {
    width: 46px;
    height: 46px;
    border-radius: 100%;
}
.comment-form .inner {
    position: relative;
    border: 1px solid #c5c5c5;
    padding: 12px 20px;
    background: #f5f5f5;
}
.comment-form .box{
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    overflow-y: auto;
    resize: none;
    background: none;
    font-size:14px;
    line-height: 1.5;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.comment-form .inner:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 16px;
    height: 12px;
    width: 7px;
    color: #c5c5c5;
    background: url(../images/arrow-fix.png) 0 0 no-repeat #f5f5f5;
    overflow: hidden;
}
.comment-form .ft {
    position: relative;
    margin-left: 76px;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
}
.comment-form .comment-btn {
    background: #ca1d18;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    min-width: 90px;
    vertical-align: baseline;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    color:#fff;
    font-size:14px;
    margin-right:10px;
}
.comment-form .all-comments{
    background-color: #323953;
}

.load-more{
    height: 50px;
    line-height: 50px;
    display: block;
    color:#fff;
    text-align: center;
    border-radius: 3px;
    background-color:#2b1b1b;
}