<!DOCTYPE html>
<html>
    {% include 'testing/include/header.html' with title=title %}
	<body>
		<div class="container">
			{% include 'testing/include/navigation.html' with title=title %}
            <h2 class="second">文章列表(一对多反向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>文章标题</td>
                    <td>文章作者</td>
                    <td>文章分类</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <h2 class="second">文章列表(一对多反向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>文章标题</td>
                    <td>文章作者</td>
                    <td>文章分类</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <h2 class="second">文章列表(一对多正向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>文章标题</td>
                    <td>文章作者</td>
                    <td>文章分类</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <h2 class="second">文章列表(一对多正向关系)</h2>
            <table class="table">
                <tr>
                    <td>序号</td>
                    <td>文章标题</td>
                    <td>文章作者</td>
                    <td>文章分类</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
		</div>
	</body>
</html>