<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>知库跟帖_知库管理平台</title>
    <link rel="stylesheet" href="{% static 'frontend/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/styles/comment.css' %}">
    <style>

    </style>
</head>
<body>
    {% include 'frontend/include/header.html' %}
    <main>
        <div class="container">
            <h1><a href="/article/{{ comment.first.article.pk }}/">{{ comment.first.article.subject }}</a></h1>
            <div id="comment-list">
                <div class="comment-form">
                    <div class="hd clearfix">
                        <div class="wrap-title">网友评论</div>
                        <div class="count"><em>{{ comment.count }}</em>条评论</div>
                    </div>
                    <div class="bd clearfix">
                        <div class="user-head" style="text-align: center;">
                            <a href="#">
                                
                                <img src="{{ MEDIA_URL|add:'frontend/avatar/male_180.png' }}" alt="">
                                <div>张三</div>
                            </a>
                        </div>
                        <div class="editor">
                            <div class="inner">
                                <textarea name="" id="" class="box"></textarea>
                            </div>
                        </div>
                        <div class="ft clearfix">
                            <div class="right-actions clearfix">
                                <a href="#" class="comment-btn commit-comment">发布</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul>
                    {% for item in comment %}
                    <li class="comment-item">
                        <div class="c-avatar">
                            <img src="{{ MEDIA_URL|add:'frontend/avatar/'|add:item.user.face }}" alt="" class="avatar" />
                        </div>
                        <div class="c-main">
                            <div>{{ item.content }}</div>
                            <div class="c-meta">
                                <span class="c-author">大笨鈊</span>
                                <span>{{ item.created_at|date:'Y-m-d H:i' }}</span>
                            </div>
                        </div>
                    </li> 
                    {% endfor %} 
                </ul>
                <a href="#" class="load-more">加载更多评论</a>
            </div>
        </div>
    </main>
    {% include 'frontend/include/footer.html'%}
</body>
</html>