<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>知库管理平台::注册</title>
    <link rel="stylesheet" href="{% static 'frontend/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/styles/login.css' %}">
</head>
<body>
    <div id="main-container">
        <div id="auth-sidebar">
            <video src="{% static 'frontend/videos/30fd1f7b63806eff4db0d4276eb1ac45.mp4' %}" autoplay loop muted  class="auth-sidebar-video"></video>
        </div>
        <div class="content">
            <div class="main">
                <div class="auth-content">                    
                    <div class="auth-form">
                        <h2>注册新用户</h2>
                        <form method="post">
                            <label>用户名</label>
                            <input type="text" id="username" name="username" class="text-input" autocomplete="off">
                            <label>密码</label>
                            <input type="password" id="password" name="password" class="text-input" autocomplete="off">
                            <label>确认密码</label>
                            <input type="password" id="password2" name="password2" class="text-input" autocomplete="off">
                            <input type="submit" value="注册/REGISTER" class="btn2">
                        </form>
                        <div class="clearfix shortcut-action">
                            <span class="login">已有账号，<a href="/login/">快速登录</a></span>
                            <span class="forgot"><a href="/forget/">忘记密码</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>