<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP请求之基本请求数据</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="heading">HTTP请求之基本请求数据</h1>
        <p>请求方式：</p>
        <p>请求协议：</p>
        <p>协议版本：</p>
        <p>请求路径（不带参数）：</p>
        <p>请求路径（带有参数）：</p>
        <p>完整路径：</p>
        <p>主机名称：</p>
        <p>端口信息：</p>
    </div>
</body>
</html>