<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP请求之基本请求头</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}">
<body>
    <div class="container">
        <h1 class="heading">HTTP请求之请求头</h1>
        <h2 class="secondary">访问部分请求头</h2>
        <table class="table">
            <tr>
                <td>路径信息</td>
                <td>VALUE</td>
            </tr>
            <tr>
                <td>URL参数</td>
                <td>VALUE</td>
            </tr>
            <tr>
                <td>请求方式</td>
                <td>VALUE</td>
            </tr>
            <tr>
                <td>代理器信息</td>
                <td>VALUE</td>
            </tr>
            <tr>
                <td>协议及版本</td>
                <td>VALUE</td>
            </tr>
        </table>
        <h2 class="secondary">访问所有请求头</h2>
        <table class="table">
            <tr>
                <td>KEY</td>
                <td>VALUE</td>
            </tr>
        </table>
        <h2 class="secondary">访问HTTP前缀请求头</h2>
        <table class="table">
            <tr>
                <td>KEY</td>
                <td>VALUE</td>
            </tr>
        </table>
    </div>
</body>
</html>