<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户模块</title>
    <link rel="stylesheet" href="../../static/styles/reset.css">
    <link rel="stylesheet" href="../../static/styles/layout.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">用户模块</h1>
        <h2 class="secondary">明星作者列表</h2>
        <ul class="author-list">
            
            <li>
                <a href="#">
                    <img src="../../media/avatar/0062BPdSjw8er31lceeesg302s02sglj.gif" alt="">
                    <div>
                        <p>如初不遇不曾识<span>2</span>篇</p>
                        <p>最后发表于2023/05/27 12:23</p>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <img src="../../media/avatar/6a5bdd8fjw8fcox4f4nn3j20sg0lcqbg.jpg" alt="">
                    <div>
                        <p>土星荒漠<span>2</span>篇</p>
                        <p>最后发表于2023/06/01 22:05</p>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <img src="../../media/avatar/04xbbig8rulseuvzbwlt4h3830.png" alt="">
                    <div>
                        <p>真实面具<span>2</span>篇</p>
                        <p>最后发表于2023/06/02 02:45</p>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <img src="../../media/avatar/4e701907jw1e8qgp5bmzyj2050050aa8.jpg" alt="">
                    <div>
                        <p>喜吃蜂蜜<span>2</span>篇</p>
                        <p>最后发表于2023/06/15 19:33</p>
                    </div>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <img src="../../media/avatar/6cedc12fly8ffgpgw3rwjj20yi0y1dhc.jpg" alt="">
                    <div>
                        <p>一见而散<span>2</span>篇</p>
                        <p>最后发表于2023/07/09 23:56</p>
                    </div>
                </a>
            </li>
            
        </ul>
    </div>
</body>
</html>