<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/reset.css">
    <link rel="stylesheet" href="../../static/styles/layout.css">    
    <title>注释</title>
</head>
<body>
    <div class="container">
        <h1 class="heading">注释</h1>
        <h2 class="secondary">单行注释</h2>
        <h2 class="secondary">多行注释</h2>
        <div class="footer">
            <p>Copyright &copy; 2023 Tedu.cn All Rights Reserved</p>
            <p> 京ICP备08000853号-56 京公网安备 11010802029508号</p>
            <p>达内时代科技集团有限公司 版权所有</p>
        </div>          
    </div>
</body>
</html>