<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/reset.css">
    <link rel="stylesheet" href="../../static/styles/layout.css">    
    <title>过滤器</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="heading">过滤器</h1>
            <h2 class="secondary">友情链接</h2>
            <ul class="list">
                <li><a href="http://www.sina.com.cn" target="_blank">新浪</a></li>
                <li><a href="http://www.163.com" target="_blank">网易</a></li>
            </ul>
            <h2 class="secondary">内容提要</h2>
            <div class="boxing">
                据新华社北京12月27日电 美国国务院日前发布美国延伸大陆架界限地理坐标，单方面宣布在北冰洋等区域延伸大陆架的主张。俄罗斯方面对此表达强烈不满。 分析人士指出，美国此举目的是在周边更 
            </div>
        </div>
        <div class="footer">
            <p>Copyright &copy; 2023 Tedu.cn All Rights Reserved</p>
            <p> 京ICP备08000853号-56 京公网安备 11010802029508号</p>
            <p>达内时代科技集团有限公司 版权所有</p>
        </div>
    </div>
</body>
</html>