<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HTTP响应之响应CSS</title>
        <link rel="stylesheet" href="{% static 'styles/common.css' %}">
    </head>
    <body>
        <div id="container">
            <h1 id="heading">响应CSS</h1>
            <p>　8月5日，一段郑州大学设计院领导与员工争执的录音在网上热传引发热议，录音中，一名男性员工要求周末按照劳动法正常休息，但一位女性领导表示拒绝，并声称可以休息，但还威胁会进一步给他降薪。6日，郑州大学党委宣传部回应称，有负责的老师在联系了解，具体情况暂不清楚。</p>
            <p>“明个、后个我休息了。”“不允许！”录音中，一男员工要求周末按照《劳动法》正常休息，但一女领导表示拒绝。她说，“你给我讲《劳动法》是吧？那你去人力资源告我。”紧接着，男员工称，“明天来可以，给加班费，《劳动法》上明文规定给加班费。”女领导则反问，“你休息的时候我扣过你工资没？”并声称可以休息，但威胁会进一步给他降薪。</p>
            <p>抛开郑州大学的事情，老胡想说，我也当过几年企业负责人，我想真诚对所有单位的负责人和高管说：一定要尽最大努力保证员工的休息，加班要给人家换休，换休不了要给加班费。搞疲劳战术，让员工失去周末，如果还不给加班费，一定会换来抵触。领导可以无偿</p>
        </div>
    </body>
</html>