body{
    background-color: #f5f5f5;
}
.container{
    padding:15px;
    margin:15px auto;
    background-color: #fff;
}
.mt {
    padding: 10px 0;
    font-weight: bold;
}
a.add-btn{
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin: 0 10px 0 0;
}
input.save-btn {
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
    font-size: 14px;
    border:1px solid #ddd;
    background-color: #F7F7F7;
    border-radius: 2px;
    cursor: pointer;
}