body,p,div,h1,h2,h3,h4,h5,ul,ol,li,dl,dt,dd,form,input,select{
    margin:0;
    padding:0
}
#container{
    width:960px;
    margin:0 auto;
    padding:10px;
    border:1px solid #ccc;
}
#container #heading{
    font-size:36px;
    padding:10px;
    margin-bottom:10px;
    border-bottom:1px dashed #333;
}
#container p{
    font-size:14px;
    line-height:2em;
    text-indent:2em;
}