<h1 class="heading">{{ title|safe }}</h1>
<ul id="navi" class="clearfix">
    <li><a href="/testing/">首页</a></li>
    <li><a href="/testing/field/">指定字段</a></li>
    <li><a href="/testing/filter/">过滤条件</a></li>
    <li><a href="/testing/order/">结果排序</a></li>
    <li><a href="/testing/aggregate/">聚合函数</a></li>
    <li><a href="/testing/onetoone/">一对一关系(文章)</a></li>
    <li><a href="/testing/onetomany/">一对多关系(文章)</a></li>
    <li><a href="/testing/manytomany/">多对多关系(图书)</a></li>
    <li><a href="/testing/related/">related_name&amp;related_query_name</a></li>
</ul>