<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>知库管理平台/管理员/首页</title>
    <link rel="stylesheet" href="{% static 'backend/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'backend/styles/layout.css' %}">
    <script src="{% static 'backend/scripts/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'backend/scripts/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'backend/scripts/tinymce/langs/zh_CN.js' %}"></script>
    <script>
        tinymce.init({
            selector: '#textarea',
            language:'zh_CN',
            toolbar:'undo redo forecolor bold italic | alignleft aligncenter alignright | code',
            formats: {
                alignright: {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'right'},
                bold: {inline:'span', styles:{color:'#f00'} },
                forecolor: {inline : 'span', styles : {color:'%value',fontWeight:'400'} },
                custom_format: {block : 'h1', attributes : {title:'Header'}, styles : {color:'red'} }
            },
            branding: false,
            elementpath: true,
            menubar:false,
            min_height:500,
        });
    </script>
    <script>
        $(function(){
            $('.menu-item+ol').hide();
            $('.menu-item').click(function(){
                $(this).siblings('ol').slideToggle();
               if($(this).find('span').eq(1).hasClass('icon-down')){
                    $(this).find('span').eq(1).removeClass('icon-down').addClass('icon-up')
               } else {
                    $(this).find('span').eq(1).removeClass('icon-up').addClass('icon-down')
               }
            });
        })
    </script>
</head>
<body>
    <div id="app">
        <!-- 头部区域开始 -->
        {% include 'backend/include/header.html' %}
        <!-- 头部区域结束 -->
        <!-- 侧边栏开始 -->
        {% include 'backend/include/sidebar.html' %}
        <!-- 侧边栏结束 -->
        <!-- 内容区域开始 -->
        <div id="content">
            <div class="content">
                <div class="container">
                    <h1 class="heading">编辑文章</h1>
                    <form method="post" enctype="multipart/form-data" class="form-box" action="/backend/article/put/{{ article.pk }}/">
                        {% csrf_token %}
                        <div class="form-item">
                            <label class="form-item-label">文章标题</label>
                            <div class="form-item-content">
                                <input type="text" name="subject" class="input-inner" style="width: 74.1%;" value="{{ article.subject }}">
                                <span class="message">
                                    <i class="message-icon error"></i>
                                    文章标题不能为空
                                </span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-item-label">所属分类</label>
                            <div class="form-item-content">
                                <select name="category_id" class="input-inner" style="height: 34px;width: 75%;">
                                    
                                    {% for item in category %}
                                    <option value="{{ item.pk }}"{% if article.category_id == item.pk %} selected{% endif %}>{{ item.catename }}</option>
                                    {% endfor %}
                                    
                                                                        
                                </select>
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-item-label">正文</label>
                            <div class="form-item-content">
                                <textarea name="textarea" id="textarea" style="width: 75%;" >{{ article.content }}</textarea>
                             
                            </div>
                        </div>
                       
                        <div class="form-item">
                            <input type="submit" value="提交表单" class="button primary">
                        </div>
                    </form>                  
                </div>
            </div>
        </div>
        <!-- 内容区域结束 -->
    </div>
</body>
</html>