#header{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    font-size: 22px;
    color: #fff;
    background-color: #242f42;
  }
body{
    background: #f0f0f0;
}
#heading{
    margin-left:10px;
    height: 70px;
    font-size: 22px;
    color: #fff;
    line-height: 70px;
}
#container {
    padding: 2px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.icon-modify,.icon-remove{
    display: inline-block;
    margin:0 2px;
    width: 22px;
    height: 22px;
    background-size:contain;
}
.icon-modify{
    background-image: url(../images/modify.png);
}
.icon-remove{
    background-image: url(../images/remove.png);
}